[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
[submodule "native/SRanipal_SDK"]
	path = native/SRanipal_SDK
	url = git@github.com:V-Sekai/vive_sranipal_sdk.git
